 <div id="navbar"   class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#/sample1">$scope</a></li>
            <li class="active"><a href="#/sample2">$directive</a></li>
            <li class="active"><a href="#/sample3">$form</a></li>
            <li class="active"><a href="#/sample4">$routing</a></li>
            <li class="active"><a href="#/sample5">load json</a></li>
          </ul>
          
        </div><!--/.nav-collapse -->